.Container {
    background-image: url("../../images/yellowbg.png");
    width: 100vw;
    height: 92vh;
    padding-top: 5vh;
}

.Container h2 {
    font-size: 2.2rem;
    color: grey;
}

.MyProjects {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 5vh 5vw;
    box-sizing: border-box;
}


.ImgContainer {
    position: relative;
    margin-top: 50px;
    width: 40vw;
    height: 40vh;
  }

  .ImgOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
  }

  .ImgContainer:hover .ImgOverlay {
    display: block;
    background: rgba(0, 0, 0, .3);
  }

  .ImgContainer img {
        position: absolute;
        width: 40vw;
        height: 40vh;
        left: 0;
  }

  .ImgTitle {
    position: absolute;
    width: 500px;
    left: 0;
    top: 120px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
  }

  .ImgContainer:hover .ImgTitle {
    top: 90px;
  }

  .ImgButton {
    position: absolute;
    width: 40vw;
    left:0;
    top: 25vh;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
  }

  .ImgButton a {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    background-color: grey;
    color: white;
    text-decoration: none;
    z-index: 1;
    border-radius: 4px;
  }
  
  .ImgContainer:hover .ImgButton {
    opacity: 1;
  }