.Container {
    background-color: grey;
    width: 100vw;
    height: 92vh;
    top: -8vh;
    display: flex;
    z-index: 0.7;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.AboutMe {
    width: 80vw;
    margin: 5vh 5vh;
    height: 50vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.AboutMe h2 {
    font-size: 2.2rem;
    margin-bottom: 5vh;
}

.AboutMe p {
    font-size: 1.7rem;
    margin-bottom: 1vh;
    text-align: justify;
}

.AboutMe h3 {
    font-size: 1.7rem;
    margin-top: 5vh;
    margin-bottom: 3vh;
    justify-self: flex-end;
}

.ContactButton {
    width: 20vw;
    padding: 1.8vh 0;
    align-self: center;
    border: 1px solid #fff;
    background-color: #e5af04;
    border-radius: 20px;
    font-weight: bold;
    transition: background-color 0.5s, color 0.5s;
    cursor: pointer;
}

.ContactButton:hover {
    background-color: #fff;
    color: #e5af04;
}


.Technos {
    width: 80vw;
    height: 20vh;
    margin: 2vh 5vh;
    color: #fff;
}

.Technos h2 {
    font-size: 2rem;
    margin-bottom: 4vh;
}

.TechnosLogos {
    height: 15vh;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1vw;
}

.TechnosLogos li {
    list-style: none;
}

.TechnosLogos li img{
    max-width: 100vw;
    height: 10vh;
}

.TechnosLogos li :nth-child(4n) img{
    max-width: 100vw;
    height: 50vh;
}

@media (max-width: 700px) {

.AboutMe h2 {
    font-size: 1.6rem;
    margin-bottom: 3vh;
}

.AboutMe p {
    font-size: 1.2rem;
    margin-bottom: 3vh;
}

.AboutMe h3 {
    font-size: 1.2rem;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.ContactButton {
    width: 26vw;
    padding: 1vh 0;
    font-size: 0.6rem;
    font-weight: none;
}

.Technos {
    width: 70vw;
    color: #fff;
}

.Technos h2 {
    font-size: 1.3rem;
    margin-top: 3vh;
    margin-bottom: 5vh;
}
.Technos ul li img{
    height: 6vh;
}

}