.HomeContainer {
    background-image: url("../../images/backgroundImg2.jpg");
    background-position: center no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Infos{
    height: 95vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.ProfilePic {
    border-radius: 50vh;
    max-width: 25vw;
    margin: 15vh;
    -webkit-animation: roll-in-left 1.5s ease-out NaNs both;
	        animation: roll-in-left 1.5s ease-out NaNs both;
}

@media (max-width: 500px) {
  .HomeContainer{
  background-image: url("../../images/backgroundMobile.png");
  }
}